@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

body {
    font-family: Cormorant, sans-serif;
}

/*NAVBAR SECTION*/

h1 {
    display: inline-block;
    font-weight: 300;
    margin: 0;
    margin-right: 32px;
}

.card h2 {
    font-weight: 200;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.links {
    display: inline-block;
}

.links li {
    display: inline-block;
}

.links ul {
    padding: 0;
}

.links a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    margin: 0px 8px;
}

.navbar {
    margin: 32px;
}

a.active {
    border-bottom: 1px solid black;
}

/*CARD SECTION*/

img {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.card {
    display: inline-block;
    width: 49.75%;
    box-sizing: border-box;
    padding: 10px;
}


/*FOOTER SECTION*/
.about {
    width: 40%;
    min-width: 600px;
    margin: 100px 0px 100px 200px;
}

.about h3{
    font-size: 30px;
    font-weight: 300;
}

.cta {
    border-bottom: 1px solid black;
    display: inline-block;
    padding-bottom: 8px;
    margin-top: 0;
}

.contact {
    margin-top: 60px;
}

.contact h4 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.card img:hover {
    opacity: 0.9;
    cursor: pointer;
}

@media (max-width: 900px) {
    .gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }

    .about {
        margin: 100px 0px 100px 100px;
    }
}

@media (max-width: 700px) {

    .card {
        width: 100%;
    }

    .about {
        min-width: 300px;
        margin: 0 auto;
    }
}

@media (max-width: 500px) {
    .about {
        min-width: 300px;
        margin: 0 auto;
    }
}