@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: "Space Mono", sans-serif;
    background-color: black;
}

.container {
    width: 500px;
    height: 250px;
    margin: 100px auto;
    background-color: white;
    border-radius: 10px;
    padding: 50px;
    text-transform: uppercase;
}

h2 {
    margin-bottom: -1;
}

h1 {
    margin-top: -1;
}

p {
    text-transform: none;
}


button {
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 20px;
}