@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background: linear-gradient(to bottom right, #3899ee, #38e2ee);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    background-color: white;
    color: #401aff;
    text-transform: uppercase;
    letter-spacing: 0;
    border-radius: 0.2rem;
    padding: 1rem 4rem;
    font-size: 1rem;
    font-weight: bold;
    margin: 0 0.4rem;
    border: none;
    cursor: pointer;
    transition: all 0.6s;
}

.burger {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.25);
}

.burger:hover {
    transform: translateY(-5px);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.5), 0 15px 13px rgba(0, 0, 0, 0.25);
}

.chills {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.25);
}

.chills:hover {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.25)
}
