@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: "Space Mono", sans-serif;
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
    font-weight: lighter;
    font-size: 40px;
}

div {
    width: 60%;
    margin-left: 100px;
    margin-top: 200px;
}

#leafy {
    color: #1d6e09;
    text-decoration: #1d6e09 solid underline;
}

p {
    font-size: 24px;
}

.latin {
    font-style: italic;
}

h2 {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: orange;
}

a:hover {
    color: red;
    text-decoration: red solid underline;
}

ul {
    list-style-type: square;
}

/*  Make the unordered list use squares for their bullet point marker*/